$main-font: "Montserrat",
sans-serif;
$second-font: "Roboto",
serif;
$third-font: "Kaushan Script";
$main-color: #fff;
$second-color: rgb(51, 51, 51);
$third-color: rgb(153, 153, 153);
$fourth-color: #f38181;
$fifth-color: #fce38a;
$sixth-color: rgb(149, 225, 211);
$seventh-color: rgb(255, 255, 255);
$main-font-size: 15px;
$second-font-size: 14px;
$third-font-size: 30px;
$fourth-font-size: 24px;
$fifth-font-size: 72px;
$sixth-font-size: 150px;
$main-text-height: 1.2;
$secondary-text-height: 1.6;
$main-font-weight: 400;
$secondary-font-weight: 700;
$third-font-weight: 300;
